&SourceView&.rounded-border{
    @apply rounded border border-mono-3 mx-4 lg:mx-6;
}
.toolbar{
    @apply flex justify-between mx-4 lg:mx-6 pt-1 pb-0;
}
.toolbar .toolbar-right{
    @apply relative flex flex-row gap-x-1;
}
&IconButton{
    @apply border-0 rounded;
}
&IconButton&:hover{
    @apply bg-mono-e dark:bg-mono-2;
}
.source-code{
    @apply h-0 border-0 overflow-y-hidden mx-4 lg:mx-6 mt-1 border-mono-c dark:border-mono-3 bg-[#fff] dark:bg-[#111] opacity-[0];
    box-sizing: border-box;
    transition: height 0.5s, padding 0.5s, margin 0.3s, opacity 0.5s;
}
.code-expand-icon{
    transform: rotate(90deg);
    transition: transform 0.5s;
}
&SourceView&.expanded .source-code{
    @apply border-t h-auto overflow-y-auto py-2 mb-2 mt-1 opacity-[1];
}
&SourceView&.expanded .code-expand-icon{
    transform: rotate(270deg);
}
.toolbar-label{
    @apply py-2 px-3 text-mono-7 text-xs border border-mono-c dark:border-mono-3 rounded-xl cursor-default;
}
.segment > span{
    @apply block text-xs mx-2 text-mono-7;
}
&CardDisplay{
    @apply mx-4 lg:mx-6 w-[calc(100%-2rem)] lg:w-[calc(100%-3rem)];
    @apply border border-mono-d dark:border-mono-3 bg-[#fff] dark:bg-[#111];
}
&CardDisplay&.pos-relative{
    @apply relative;
}
&CardDisplay&.transparent-bg{
    @apply bg-transparent;
}