@tailwind base;
@tailwind components;
@tailwind utilities;

@initialize html body{
    background-color: white;
    color: black;
}

@initialize html.dark body{
    background-color: #111111;
    color: #e1e1e1;
    border-color: red;
}