&ContextMenu{
    @apply fixed z-[10010] w-full h-full bg-transparent hidden top-0 left-0;
}

&ContextMenu&.visible{
    display: block;
}
button{
    @apply text-[#111] dark:text-mono-d text-base;
    width: 100%;
    text-align: left;
    @apply block px-4 py-1;
}
button:hover{
    @apply bg-mono-d dark:bg-mono-4;
}
.menu-content{
    @apply bg-[#e1e1e1cc] dark:bg-[#111111cc] text-[#111] dark:text-mono-d border border-mono-3;
    @apply w-48 rounded-md shadow-lg absolute mt-4 z-10;
    backdrop-filter: blur(1px);
}