&ContextMenu{
    @apply fixed z-[10010] w-full h-full bg-transparent hidden top-0 left-0;
}

&ContextMenu&.visible{
    display: block;
}
button{
    width: 100%;
    text-align: left;
    @apply block px-4 py-1;
    font-size: 16px;
    color: #e1e1e1;
}
button:hover{
    background-color: #414141;
}
.menu-content{
    background-color: #111111cc;
    backdrop-filter: blur(1px);
    color: #d1d1d1;
    @apply w-48 rounded-md shadow-lg py-1 absolute mt-4 z-10;
}