&Accordion{
    @apply w-full cursor-default;
}
&AccordionContent{
    @apply relative max-h-0 px-4 overflow-hidden;
    transition: max-height 0.5s;
}
&AccordionSection&.show &AccordionContent{
    @apply bg-white dark:bg-mono-1;
}
&AccordionToggle{
    @apply flex flex-row items-center justify-between text-base px-4 py-2 text-mono-1 dark:text-mono-f border-b border-mono-c dark:border-mono-4 hover:border-mono-b dark:hover:border-mono-5;
}
&Accordion &IconRotate > *:first-child{
    transition: transform 0.5s;
}
&AccordionSection&.show &IconRotate > *:first-child{
    transform: rotate(180deg);
}
&Accordion &IconSwap > *:first-child{
    @apply block;
}
&Accordion &IconSwap > *:last-child{
    @apply hidden;
}
&AccordionSection&.show &IconSwap > *:first-child{
    @apply hidden;
}
&AccordionSection&.show &IconSwap > *:last-child{
    @apply block;
}
