&Collapsible{
    @apply w-full cursor-default;
}
&CollapsibleContent{
    @apply hidden px-4;
}
&Collapsible&.show>&CollapsibleContent{
    @apply block bg-white dark:bg-mono-1;
}
&CollapsibleToggle{
    @apply flex flex-row items-center justify-between text-base px-4 py-2 text-mono-1 dark:text-mono-f border-b border-mono-c dark:border-mono-4 hover:border-mono-b dark:hover:border-mono-5;
}
&Collapsible > &CollapsibleToggle > &IconRotate > *:first-child{
    transition: transform 0.5s;
}
&Collapsible&.show > &CollapsibleToggle > &IconRotate > *:first-child{
    transform: rotate(180deg);
}
&Collapsible &IconSwap{
    @apply select-none;
}
&Collapsible &IconSwap > *:first-child{
    @apply block;
}
&Collapsible &IconSwap > *:last-child{
    @apply hidden;
}
&Collapsible&.show &IconSwap > *:first-child{
    @apply hidden;
}
&Collapsible&.show &IconSwap > *:last-child{
    @apply block;
}
