
&TooltipArea {
    position: relative;
    display: inline-block;
}
  
&TooltipArea &Tooltip {
    @apply p-2 px-4 rounded text-xs text-mono-1 dark:text-white bg-white dark:bg-mono-1 border border-mono-c dark:border-mono-4;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 100%;
    margin-top: 5px;
    z-index: 1000;
    transition: opacity 0.3s;
}

&TooltipArea &Tooltip&.position-left, &TooltipArea&.position-left &Tooltip{
    right: 0%;
}
&TooltipArea &Tooltip&.position-top, &TooltipArea&.position-top &Tooltip{
    @apply top-[auto] mt-0 mb-1 bottom-full;
}
  
&TooltipArea&.active &Tooltip {
    position: absolute;
    display: block;
    visibility: visible;
    opacity: 0.9;
}