&UlV{
    @apply divide-y divide-mono-c dark:divide-mono-4;
}

&UlV&.round-border{
    @apply rounded border border-mono-c dark:border-mono-4;
}

li{
    @apply px-2 py-2;
}

li {
  cursor: grab;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.01) translate(10px, 0);
}

li.dragging {
  @apply border border-mono-c dark:border-mono-6 rounded;
  transform: scale(1) translate(0, 0);
  z-index: 10;
}

.placeholder {
  border-top: 1px dashed #aaa;
  transition: height 0.2s;
}