&SidebarLayout{
    @apply h-full w-full flex relative;
}
&SidebarLayout&.d-right{
    @apply flex flex-row justify-end;
}
&SidebarLayout &Sidebar{
    @apply py-4 px-4 z-[1000] border-0 fixed h-full box-border bg-white dark:bg-[#111111] block;
    @apply w-64 lg:px-6 border-r border-[#b1b1b1] dark:border-[#313131] lg:border-[#c1c1c1] lg:dark:border-[#212121];
    transition: left 0.5s, right 0.5s;
}
&SidebarLayout &Sidebar&.pos-absolute{
    @apply absolute;
}
&SidebarLayout &Sidebar{
    @apply left-[-16rem] lg:left-[auto];
}
&SidebarLayout &Sidebar&.show{
    @apply block left-[0];
}
&SidebarLayout&.d-right > &Sidebar{
    @apply left-auto hidden lg:block lg:right-auto border-l border-r-0;
}
&SidebarLayout&.d-right > &Sidebar&.show{
    @apply block left-auto;
    animation: slideAnimation 0.5s;
}
@keyframes slideAnimation {
    0% {  right: 0; width: 16rem; overflow: hidden; transform: scaleX(0); transform-origin: right; }
    100% {  overflow: auto; transform: scaleX(100%); transform-origin: right; }
}
&SidebarLayout .main-content, &SidebarLayout &Aside{
    @apply lg:ml-64 min-h-full w-[100%] lg:w-[calc(100%-16rem)] px-4;
}
&SidebarLayout&.d-right > .main-content, &SidebarLayout&.d-right > &Aside{
    @apply ml-0 lg:mr-64;
}

&SidebarLayout &SidebarCompact{
    @apply py-2 px-0 flex justify-end lg:hidden;
}
&SidebarLayout &Aside &SidebarCompact{
    @apply py-0 px-0;
}

&SidebarLayout &Sidebar &SidebarCompact{
    @apply pt-0 pb-0 px-0 flex lg:hidden justify-end;
}

&SidebarLayout &Sidebar header{
    @apply px-0 pb-4 lg:py-4 text-2xl font-bold;
}

&SidebarLayout &Sidebar hr{
    @apply border-[#a1a1a1] dark:border-[#414141] py-2;
}