&TableView{
    @apply font-sans min-w-full divide-y divide-mono-d dark:divide-mono-4;
}
&TableView&.border-around{
    @apply border border-mono-d dark:border-mono-4;
}

&TableView thead th{
    @apply text-sm px-4 py-3 text-left font-medium text-mono-6 dark:text-mono-8;
}

&TableView tbody{
    @apply text-lg divide-y divide-mono-d dark:divide-mono-4;
}
&TableView tbody td{
    @apply text-sm px-4 py-2 text-left;
}
&TableView tbody td button{
    @apply text-sm px-2 py-2;
}