&WorkspaceEditorView{
    @apply w-full h-full flex flex-col;
}

&TopNav{
    @apply flex flex-row;
}

.editor-body{
    @apply flex flex-col flex-1 min-h-0;
}

.error-box.show{
    @apply bg-[#311417] p-1 border border-[#d93e3e] rounded-xl text-mono-e max-h-[50%] overflow-y-auto;
    scrollbar-color: #aaa transparent;
}

.error-box .error{
    @apply p-2;
}

&TabLayout{
    flex: 1;
}

&TabLayout &TabContent{
    flex: 1;
}

&TabLayout &TabContent &TabPane{
    @apply h-full;
}

&TabLayout &TabContent &TabPane &CodeEditorView{
    @apply h-full;
}

&TabLayout&.no-b &TabContent{
    @apply border-t;
}

.loading{
    @apply hidden items-center text-mono-a;
}

.loading.show{
    @apply flex;
}

.spinner{
    @apply relative w-[20px] h-[20px] mx-2;
}

.spinner:before, .spinner:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
}

.spinner:after{
    box-shadow: 0 2px 0 #a1a1a1 inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

&WriteLockButton&.locked{
    @apply bg-transparent border-0 hover:bg-transparent hover:border-0 cursor-default;
}

&TooltipArea&.hide{
    @apply hidden;
}

&IconButton&.hide{
    @apply hidden;
}
