&WorkspaceView{
    @apply w-full h-full;
}

&TopNav{
    @apply flex flex-row;
}

&SplitLayout{
    @apply h-[calc(100vh-3rem)];
}

&SplitLayout &SplitPane&.flex-content{
    @apply flex flex-col;
}

&SplitLayout &SplitPane .error-box.show{
    @apply bg-[rgb(105,28,35)] p-1 border border-[#717171];
}
&SplitLayout &SplitPane .error-box .error{
    @apply p-2;
}

&SplitLayout&.split-one &SplitPane&:first-child{
    height: 100% !important;
}
&SplitLayout&.split-one &SplitPane&:nth-child(3){
    @apply hidden;
}
&SplitLayout&.split-one .handle{
    @apply hidden;
}

&SplitLayout&.split-3-1{
    @apply h-full;
}

&SplitLayout&.split-3-1 &SplitPane&:first-child{
    @apply h-3/4;
}
&SplitLayout&.split-3-1 &SplitPane&:nth-child(3){
    @apply h-1/4;
}

&SplitLayout &SplitPane .log-view{
    @apply w-full h-full dark:bg-[#212121] text-[14px];
    
}
&SplitLayout &SplitPane .log-view h2{
    @apply h-[36px] px-2 py-2 text-[#919191] border-b border-[#717171];
}
&SplitLayout &SplitPane .log-view .log-messages{
    @apply overflow-auto p-2 text-[12px];
    height: calc(100% - 36px);
    font-family: 'Courier New', Courier, monospace;
}
&SplitLayout &SplitPane .log-view .log-message:first-child{
    @apply pt-0;
}
&SplitLayout &SplitPane .log-view .log-message{
    @apply py-1 border-b border-[#515151];
}
&SplitLayout &SplitPane .log-view .log-message:last-child{
    @apply border-b-0;
}

&TabLayout{
    flex: 1;
}

&TabLayout &TabContent { 
    flex: 1;
}

&TabLayout &TabContent &TabPane{
    @apply h-full;
}

&TabLayout &TabContent &TabPane &CodeEditorView{
    @apply h-full;
}

&TabLayout&.no-b &TabContent { 
    @apply border-t;
}

.header{
    @apply w-full h-[2.5rem] border-b border-[#a1a1a1] dark:border-[#515151];
}

.loading{
    @apply hidden items-center text-[#a1a1a1];
}
.loading.show{
    @apply flex;
}

.spinner {
    @apply relative w-[20px] h-[20px] mx-2;
}

.spinner:before , .spinner:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
}

.spinner:after {
    box-shadow: 0 2px 0 #a1a1a1 inset;
    animation: rotate 2s linear infinite;
}
    
@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

iframe{
    @apply w-full h-full bg-white;
}

&WriteLockButton&.locked{
    @apply bg-transparent border-0 hover:bg-transparent hover:border-0 cursor-default;
}
&TooltipArea&.hide{
    @apply hidden;
}
&IconButton&.hide{
    @apply hidden;
}